.gameGrid{
    background-color: brown;
    opacity: 0.25;
    border: 0.5px;
    border-color: black;
    border-style: solid;
    height: 38px !important;
    width: 60.8px !important;
}

.gameBackground{
    background-image: url("/src/client/img/places/wally_place_01.jpg") !important;
    /* height: 759.05px; */
    width: 1280px !important;
    height: 100% !important;
    background-color: beige;
}