<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Game CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">

    <title>Where's Wally And Friends</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row" id="Cabecalho">
            <div class="col-12">
                <nav class="navbar navbar-light fixed-top alert-danger">
                    <div class="col-3">
                        <a class="navbar-brand" href="#">
                            <img src="{{ url_for('static', filename='/img/logo_wally.png') }}" width="30" height="30" class="d-inline-block align-top"
                                alt="">
                            Where's Wally And Friends
                        </a>
                    </div>
                    <div class="col-4">
                        <form id="form_person" class="form-inline">
                        </form>
                    </div>
                    <div class="col-2">
                        <div class="input-group">
                            <input id="input_user_name" type="text" class="form-control" placeholder="Username"
                                aria-label="Username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button id="btn_entrar" class="btn btn-primary" type="button">Entrar</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <form class="form-inline my-2 my-lg-0">
                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                <div id="list_players" class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button"
                                        class="btn btn-primary dropdown-toggle mr-3" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        Jogadores
                                    </button>
                                </div>
                            </div>
                            <button id="btn_sair" class="btn btn-danger my-2 my-sm-0" type="button">Sair</button>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row mt-5" id="Coteudo">
            <div class="col-12 mt-3">
                <div id="div_principal" class="gameBackground container-fluid" 
                style="background-image: url({{ url_for('static', filename='/img/places/wally_place_01.jpg') }})">
                    <div class="row">
                        <div class="gameGrid">1</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- DIV Alert -->
    <div class="container mt-2">
        <div class="row">
            <div class="col-10">
                <div class="alert alert-success" id="success-alert" style="display: none;">
                    <strong id="msg_sucess">Sucesso! </strong>
                </div>
                <div class="alert alert-danger alertMsg" id="danger-alert" style="display: none;">
                    <strong id="msg_error">Atenção! </strong>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

    <!-- Socket.IO -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js">
    </script>

    <!-- Game JS -->
    <script src="{{ url_for('static', filename='/js/main.js') }}"></script>

</body>

</html>